C#/WCF/ClientForDiskDataProvider/ClientForDiskDataProvider/Service References/DriversInfoService/DiskInfoProvider.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DiskInfoProvider" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="ep_1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="ep_2_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/DiskInfoService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/DiskInfoService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/DiskInfoService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFdiskDataService" />
      <xsd:import schemaLocation="http://localhost:8080/DiskInfoService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDiskInfo_GetDriversData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDriversData" />
  </wsdl:message>
  <wsdl:message name="IDiskInfo_GetDriversData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDriversDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDiskInfo_GetOneDriveData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneDriveData" />
  </wsdl:message>
  <wsdl:message name="IDiskInfo_GetOneDriveData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneDriveDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDiskInfo_GetDriversNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDriversNames" />
  </wsdl:message>
  <wsdl:message name="IDiskInfo_GetDriversNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDriversNamesResponse" />
  </wsdl:message>
  <wsdl:portType name="IDiskInfo">
    <wsdl:operation name="GetDriversData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiskInfo/GetDriversData" message="tns:IDiskInfo_GetDriversData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiskInfo/GetDriversDataResponse" message="tns:IDiskInfo_GetDriversData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneDriveData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiskInfo/GetOneDriveData" message="tns:IDiskInfo_GetOneDriveData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiskInfo/GetOneDriveDataResponse" message="tns:IDiskInfo_GetOneDriveData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDriversNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IDiskInfo/GetDriversNames" message="tns:IDiskInfo_GetDriversNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDiskInfo/GetDriversNamesResponse" message="tns:IDiskInfo_GetDriversNames_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ep_1" type="tns:IDiskInfo">
    <wsp:PolicyReference URI="#ep_1_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDriversData">
      <soap12:operation soapAction="http://tempuri.org/IDiskInfo/GetDriversData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneDriveData">
      <soap12:operation soapAction="http://tempuri.org/IDiskInfo/GetOneDriveData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDriversNames">
      <soap12:operation soapAction="http://tempuri.org/IDiskInfo/GetDriversNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ep_2" type="tns:IDiskInfo">
    <wsp:PolicyReference URI="#ep_2_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetDriversData">
      <soap12:operation soapAction="http://tempuri.org/IDiskInfo/GetDriversData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOneDriveData">
      <soap12:operation soapAction="http://tempuri.org/IDiskInfo/GetOneDriveData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDriversNames">
      <soap12:operation soapAction="http://tempuri.org/IDiskInfo/GetDriversNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DiskInfoProvider">
    <wsdl:port name="ep_1" binding="tns:ep_1">
      <soap12:address location="http://localhost:8080/DiskInfoService/ep_1" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8080/DiskInfoService/ep_1</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="ep_2" binding="tns:ep_2">
      <soap12:address location="net.tcp://localhost:8081/DiskInfoService/ep_2" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/DiskInfoService/ep_2</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>A2-6\admin</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>